<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon"  href="/DSCN3396.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Madan Belbase </title>
    <link rel="stylesheet" href="/styles/global.css" />
	</head>
	<body class="min-h-screen bg-[#fafafa]">
		<slot />
	</body>
</html>


